body
{
    font-family: Arial, Tahoma, San-Serif;
    font-size: 11px;
	background-color: #bbb;
}
.bgChecker{
	background-image: url("images/checker.png");
}
p
{
    margin: 0 0 0px;
}
ul.scene
{
    margin: 0 4px 0 0;
    width: calc(100% - 8px);
}
ul.scene li
{
    background: #ddd;
    border: solid 1px #eee;
    padding: 10px;
}
ul.scene .placeholder {
  width: calc(100% - 22px);
  height: 20px;
  background-color: #ccc;
  border: solid 1px #aaa;
}
ul{
    margin: 4px;
    padding: 4px;
	min-height:10px;
}
ul li {
  list-style-type: none;
}
li.invisible{
	opacity: 0.5;
}

.listIcon {
	vertical-align: middle;
	margin-right: 4px;
}