	body{
		background-color:#999;
		overflow: hidden;
		
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	body, html {
		height: 100%;
		padding:0px;
		margin:0px;
	}

	#bodyBlock{
		width:100%;
		height:100%;
		position: absolute;
		border:0px none #000;
		z-index:-10;
	}
	
	button {
		background-color: #bbb;
		color: black;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #333;
		border-left: 1px solid #ddd;
		border-right: 1px solid #333;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		margin: 4px 2px;
		transition-duration: 0.4s;
		cursor: pointer;
	}
	button:hover {background-color: #ddd;}

	button span{
		font-size: 13px;
	}
	
	.buttonIcon{
		width:22px;
		background-repeat: no-repeat;
		background-position: center center;
	}
	.highlightIcon{
		background-color: #ffff00;
	}
	
	
	.colorSliderBG{
		background-color: #aaa;
		color: black;
		border-top: 1px solid #333;
		border-bottom: 1px solid #ddd;
		border-left: 1px solid #333;
		border-right: 1px solid #ddd;
		width:108px;
		height:16px;
		margin: 2px;
	}	
	.colorSlider{
		pointer-events: none;
		position: relative;
		left:4px;
		top:4px;
		background-color: #ff0000;
		color: black;
		box-sizing: border-box;
		border-right: 4px ridge #ccc;
		width: calc(100% - 8px);
		height: calc(100% - 8px);
	}

	input[type=text]{
		background-color:#bbb;
		border-top: 1px solid #333;
		border-bottom: 1px solid #ddd;
		border-left: 1px solid #333;
		border-right: 1px solid #ddd;
		width:25px;
		height:14px;
		margin: 1px;
	}
	
	.picked{		
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #333;
		border-left: 1px solid #ddd;
		border-right: 1px solid #333;
	}
	
	.ui-drawMode-icon {
		background-image: url(images/drawIcon.png) !important;
	}
	.ui-editMode-icon {
		background-image: url(images/editIcon.png) !important;
		background-color: #ffff00;
	}
	.ui-cameraMode-icon {
		background-image: url(images/cameraIcon.png) !important;
		background-color: #00ffff;
	}
	.ui-camera-icon {
		background-image: url(images/cameraIcon.png) !important;
	}
	.ui-selectModeCamera-icon {
		background-image: url(images/cameraBasedOnIcon.png) !important;
	}
	.ui-selectModeAll-icon {
		background-image: url(images/cameraBasedOffIcon.png) !important;
	}
	.ui-pencil-icon {
		background-image: url(images/pencilIcon.png) !important;
	}
	.ui-pencilSelected-icon {
		background-image: url(images/pencilIcon.png) !important;
		background-color: #ffff00;
	}
	.ui-brush-icon {
		background-image: url(images/brushIcon.png) !important;
	}
	.ui-brushSelected-icon {
		background-image: url(images/brushIcon.png) !important;
		background-color: #ffff00;
	}
	.ui-eraser-icon {
		background-image: url(images/eraserIcon.png) !important;
	}
	.ui-eraserSelected-icon {
		background-image: url(images/eraserIcon.png) !important;
		background-color: #ffff00;
	}
	.ui-magiceraser-icon {
		background-image: url(images/magiceraserIcon.png) !important;
	}
	.ui-magiceraserSelected-icon {
		background-image: url(images/magiceraserIcon.png) !important;
		background-color: #ffff00;
	}
	.ui-eyedropper-icon {
		background-image: url(images/eyedropperIcon.png) !important;
	}
	.ui-eyedropperSelected-icon {
		background-image: url(images/eyedropperIcon.png) !important;
		background-color: #ffff00;
	}
	.ui-paintbucket-icon {
		background-image: url(images/paintbucketIcon.png) !important;
	}
	.ui-paintbucketSelected-icon {
		background-image: url(images/paintbucketIcon.png) !important;
		background-color: #ffff00;
	}
	.ui-marquee-icon {
		background-image: url(images/marqueeIcon.png) !important;
	}
	.ui-marqueeSelected-icon {
		background-image: url(images/marqueeIcon.png) !important;
		background-color: #ffff00;
	}
	.ui-lasso-icon {
		background-image: url(images/lassoIcon.png) !important;
	}
	.ui-lassoSelected-icon {
		background-image: url(images/lassoIcon.png) !important;
		background-color: #ffff00;
	}
	.ui-magicwand-icon {
		background-image: url(images/magicwandIcon.png) !important;
	}
	.ui-magicwandSelected-icon {
		background-image: url(images/magicwandIcon.png) !important;
		background-color: #ffff00;
	}
	.ui-arrow-icon {
		background-image: url(images/arrowIcon.png) !important;
	}
	.ui-arrowSelected-icon {
		background-image: url(images/arrowIcon.png) !important;
		background-color: #ffff00;
	}
	.ui-hand-icon {
		background-image: url(images/handIcon.png) !important;
	}
	.ui-handSelected-icon {
		background-image: url(images/handIcon.png) !important;
		background-color: #ffff00;
	}
	.ui-brushCanvas-icon {
		background: -webkit-canvas(brush) no-repeat !important;
	}
	.ui-rgb-icon {
		background-image: url(images/rgbIcon.png) !important;
	}
	.ui-hsl-icon {
		background-image: url(images/hslIcon.png) !important;
	}
	.ui-none-icon {
		background-image: url(images/icon-none.png) !important;
	}
	.ui-pressure-icon {
		background-image: url(images/icon-pressure.png) !important;
	}
	.ui-tilt-icon {
		background-image: url(images/icon-tilt.png) !important;
	}
	.ui-direction-icon {
		background-image: url(images/icon-direction.png) !important;
	}
	